<app-navbar></app-navbar>
<!-- Section for content start -->
<section id="dashboard-content">
    <div class="row">
        <div class="col-md-12">
            <!-- App brief section start -->
            <div class="app-section">
                <h6 class="title">MARKET VIEW</h6>
                <h3 class="title">Today's market briefing</h3>
               <app-market-brief></app-market-brief>
            </div>
            <!-- App brief section ends -->
            <!-- App divivends section start -->
            <div class="app-section">
                <h6 class="title">Ex-Dividends</h6>
               <app-dividends></app-dividends>
            </div>
            <!-- App diviends section ends -->
            <!-- App Earnings section start -->
            <div class="app-section">
                <h6 class="title">Earnings</h6>
               <app-earnings></app-earnings>
            </div>
            <!-- App Earnings sedction ends -->
            <!-- App sector performance start -->
            <div class="app-section">
                <h6 class="title">Sector Performance</h6>
               <app-sector-performance></app-sector-performance>
            </div>
            <!-- App sector performance ends -->
        </div>
    </div>     
</section>
<!-- Section for content ends -->
